
.logo,.focused,.title ,.productive ,.digit, .review-heading ,.name,.review-title,.Date,.skill-description,.touch,.Email,.Message
,.change, .end ,.link-design{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
  
 /* Header */

.header{
    
  background-image: url('B12A01-landing-launchpad/Assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}



.spaced{
  margin-top: 37px;
}

.logo {
font-weight: bold;
font-size: 34;
color:#4E47FF;
margin-left: 230px;
}

.up{

  margin-right: 240px;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 80px;
    
}

.sign{
margin-top:300px;
}


.header-title{
    margin-top: 0px;
    text-align: center;
    gap: 158px;
}


.focused{
    gap:37px;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    
}
 
/* Common Button */

.btn-primary{
    padding: 6px 12px;
    border:none;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 9px;
    border-radius:5px;   

}

main{
    max-width:1200px;
    margin: 0 auto;
}


/* container-one */

.container-one{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 0px;
    margin-right: 150px;
    margin-left: 40px;
    padding-top: 100px;
    padding-left: 200px;
}


.image{
    min-width: 300px;
}

.image img{
    height: 200px;
    width:210px;
    border-radius: 10px;
}

.left-content{
    gap: 3px;
}

main{
    padding-top: 10px;
}

.sub-title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color:#8987A1;
  font-style: normal;
}

/* container-two */


.container-two{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color: rgba(189, 188, 238, 0.695);
  padding: 30px 0px;
  border-radius: 10px;
  max-width: 735px;
  margin: 0 auto;
  margin-top: 70px;
}

.digit-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  
  
}

.digit {
  min-width: 150px;
}

.digit h3 {
  font-size: 50px;
  color: #4E47FF;
  margin-bottom: 2px;
}

.digit p {
  color: #555;
  font-size:15px;
}

.productive {
  font-size: 25px;
  font-weight: bold;
  color: #111;
  margin: 0;
}

/* section three - container three */



.section-title {
  text-align: center;
  padding: 60px 20px 20px;
}

.review-heading {
  font-size: 30px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 40px;
}

.container-three {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px ;
  padding-top:10px;
  padding-bottom: 100px;
  max-width: 785px;
  margin: auto;
}

.review {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 30px;
  width: 295px;
  height: 190px;
  text-align: left;
  padding-top: 15px;
}

 

.star {
  width: 10px;
  height: 10px;
  margin-right: 2px;
}

.review-title {
   
  margin: 15px 0 10px;
  color: #222;
}

.skill-description {
  font-size: 10px;
  color: #555;
  margin-bottom: 20px;
}


.Account{
  display: flex;
}

.account {
  display: flex;
  gap: 10px;
  flex-direction: column;
} 

.Name{
  margin-bottom:100px;
  margin-top:10px;
  margin-left: 20px;
}

.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}

.name {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  color: #333;
  
  
}

.Date {
  font-size: 10px;
  color: #aaa;
  
}




/*section-four*/



.section-four {
  background-color: #f3f4f6;
  padding: 30px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top:0;
  margin-left: 230px;
  width:750px;
}

.container-four{
  text-align:center;
}
 
.title {
  font-size: 28px;
}

.change{

font-size:8px;
color: #aaa;
}


.btn-primary {
 
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #2563eb; 
}

.big-image {
  width: 100%;
  max-width: 500px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


/*contact-form*/

.container-five {
  padding: 60px 20px;

}

.container-five {
  width: 800px;
  margin:0 auto;
  text-align: left;
}
 


.contact-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 750px;
  margin: 0 auto;
  gap: 50px;
  
}

.contact-title {
  align-items: center;
  padding-top:90px;
  gap:10px;
}

.touch {
  font-size:60px;
  font-weight: bold;
  color: #111827;
  
}
 
.form form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 10px;
  color: #374151;
  margin-bottom: 5px;
  margin-top: 15px;
}

#Email,
#Name,
#Message {
  padding: 15px 12px;
  font-size: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  width: 290px;
  box-sizing: border-box;
}

#Message {
  min-height: 80px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button[type="submit"] {
  margin-top: 15px;
  padding: 12px;  
  border:none;
  background-color: #4E47FF;
  color: #FFFFFF;
  font-size: 9px;
  border-radius:5px;   
 
}

button[type="submit"]:hover {
  background-color: #2563eb;
}

/* footer */

footer{
  background-color: #f3f4f6;
  padding: 80px 30px;
  text-align:center;
}

.end{
margin-bottom: 8px;  
font-weight: 800;
font-size:70px;
color:#4E47FF;
}
.sub-change ,.finished{
  margin-bottom:10px;
  font-size:12px;
  font-weight: 231;
  color:#8987A1;
 }

 .link-design{
font-size:12px;
color:#8987A1;
font-weight: 231;
text-decoration: none;
 }

 .link-design:hover {
  color:blue;
 }

 .link {
  display: flex;
  justify-content: center;
  gap: 30px;
}